.Login {
  padding: 2vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
}
